.positivo {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    /* margin-right: 0.625%; */
    text-align: center;
    line-height: 2;
    color: white;
    font-weight: bold;
  }

  .negativo {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    /* margin-right: 0.625%; */
    text-align: center;
    line-height: 2;
    color: white;
    font-weight: bold;
  }


  .positivo:link, .positivo:visited, .positivo:focus {
    background: #07D44E;
  }

  .negativo:link, .negativo:visited, .negativo:focus {
    background: #fd5e78;
  }
  
  .positivo:hover {
    background: #62D0FF;
  }
  
  .positivo:active {
    background: #006F9E;
    color: white;
  }

  .Pie{
      grid-area: p;
    background: #006f9e57;
    color: whitesmoke;
    font-size: 10px;

  } 
  .Izquierdo{
      grid-area: i;
    background: #006F9E;

  } .Derecho{
    grid-area: d;
    background: #006F9E;

  } 
  .Titulo{
    grid-area: t;
    background: #006F9E;

  }

  .contenedor{
      display: grid;
      grid-gap: 5px;
      height: 100vh !important;
      width: 100% !important;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 0.1fr 1fr 0.05fr;
      grid-template-areas: 't   t' 'i   d' 'p   p';
  }

  .div{
    text-align: center;
    /*width: 100%;
    height: 100%;*/
    /*position: absolute;*/
    text-align: center;
    /* font-size: 90px; */
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
                
  }

  .a_menu {
    outline: none;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    /* margin-right: 0.625%; */
    text-align: center;
    line-height: 30;
    color: #004862;
    font-weight: bold;
  }

  .a_menu:link, .a_menu:visited, .a_menu:focus {
    background: #CEDCE1;
  }
  
  .a_menu:hover {
    background: #62D0FF;
  }
  
  .a_menu:active {
    background: #006F9E;
    color: #004862;
  }

  .btn_positivo {
    /* outline: none;
    text-decoration: none;
    display: inline-block; */
    width:45%;
    /* margin-right: 0.625%; */
    background: #07D44E;
    /* text-align: center; */
    line-height: 2;
    color: white;
    font-weight: bold;

    
  border: none;
  /* padding: 16px 32px; */
  text-decoration: none;
  /* margin: 4px 2px; */
  /* cursor: pointer; */
  }

  .btn_negativo{
    /* outline: none;
    text-decoration: none;
    display: inline-block; */
    width:45%;
    /* margin-right: 0.625%; */
    /* text-align: center; */
    line-height: 2;
    color: white;
    font-weight: bold;

    
  border: none;
  /* padding: 16px 32px; */
  text-decoration: none;
  /* margin: 4px 2px; */
  /* cursor: pointer; */
    background: #fd5e78;
  }