.pie{
    grid-area: p;
    background: #006f9e57;
    color: whitesmoke;
    font-size: 10px;
    
    } 
    .izquierdo{
    grid-area: i;
    background: #f1f1f1;
    
    } .derecho{
    grid-area: d;
    background: transparent;
    text-align: center;
    /*width: 100%;*/
   
    /*position: absolute;*/
    text-align: center;
    /* font-size: 90px; */
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    /* background-color: lightblue;
  height: 100%;
  width: 200px; */
  
    } 

    .div_scroll{
        height: 70vh;
        overflow-y: scroll;
        width: 100%;
    }


    .titulo{
    grid-area: t;
    background: #5f5f5f;
    color: whitesmoke;
    
    }
    
    .contenedor{
    display: grid;
    grid-gap: 5px;
    height: 100vh !important;
    width: 100% !important;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: 0.1fr 1fr 0.05fr;
    grid-template-areas: 't   t' 'i   d' 'p   p';
    }