.pie{
grid-area: p;
background: #006f9e57;
color: whitesmoke;
font-size: 10px;

} 
.izquierdo{
grid-area: i;
background: #006F9E;

} .derecho{
grid-area: d;
background: #006F9E;

} 
.titulo{
grid-area: t;
background: #006F9E;

}

.contenedor{
display: grid;
grid-gap: 5px;
height: 100vh !important;
width: 100% !important;
grid-template-columns: 1fr 1fr;
grid-template-rows: 0.1fr 1fr 0.05fr;
grid-template-areas: 't   t' 'i   d' 'p   p';
}